{% extends "base.html" %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{%block content%}
<div class="container" >
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="formdiv">
   <form method="POST" action="/emp">
        {% csrf_token %}
    <div class="container border border-dark  ">
<br>
    <div class="form-group mb-5 row">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Id:</label>
    <div class="col-sm-4">
      {{ form.eid }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Name:</label>
    <div class="col-sm-4">
      {{ form.ename }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Email:</label>
    <div class="col-sm-4">
      {{ form.eemail }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Contact:</label>
    <div class="col-sm-4">
      {{ form.econtact }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="ml-5 btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</div>
    </div>
</div>

{%endblock%}

</body>
</html>